@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["EditButton"] = true;
    ViewData["DeleteButton"] = true;
    ViewData["ViewButton"] = true;
}

<style>
    body{
        background: rgb(45,152,218);
        background: linear-gradient(338deg, rgba(45,152,218,1) 32%, rgba(69,170,242,1) 78%);
    }
</style>

<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Are you sure?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post" asp-action="Delete" asp-controller="Projects">
                    <input id="deleteProjectId" type="hidden" name="projectId" />
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteConfirmModal = document.getElementById('confirmDelete');
    const deleteConfirmProjectId = document.getElementById('deleteProjectId');

    deleteConfirmModal.addEventListener('show.bs.modal', event => {

        const button = event.relatedTarget

        const deSters = button.getAttribute('data-bs-id')
        const displayName = button.getAttribute('data-bs-name')


        const modalBody = deleteConfirmModal.querySelector('.modal-body')
        deleteConfirmProjectId.value = deSters;

        modalBody.innerHTML = 'This action will remove the project <b>'+displayName+"</b> permanently."
    });
</script>

<div class="formular-background"></div>
<h2 class="text-center mt-5">All Projects</h2>
<br />
<div class="formular container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <div>
                <form method="get">
                        <div class="input-group" style="width: 20vw; min-width: 200px;">
                            <input type="text" class="form-control" placeholder="Search by title/user" name="search" value="@ViewBag.Search" />
                            <button class="btn btn-primary" type="submit"><i class="bi-info bi-search"></i></button>
                        </div>
                    </form>
                <nav aria-label="Projects List">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link"
                               href="/panel/projects?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        @for (int i = 1; i <= ViewBag.lastPage; i++)
                        {
                            @if (i == ViewBag.currentPage)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="/panel/projects?page=@i">@(i)</a>
                                </li>
                            }
                            else{
                                 <li class="page-item">
                                    <a class="page-link" href="/panel/projects?page=@i">@(i)</a>
                                </li>
                            }
                        }

                        <li class="page-item">
                            <a class="page-link"
                               href="/panel/projects?page=@(ViewBag.lastPage)" arialabel="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            @foreach(var proj in ViewBag.Projects){
                <partial name="ProjectDisplay" model="proj" />
            }
        </div>
    </div>
</div>
